/* Font Style */
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* common Style */
body{
    margin: 0 auto;
   
}
header{
    background-color: #f8ebde;
    
}
section{
    margin: 50px 0px;
}
/* Header */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}   

.logo{
    font-size: 35px;

}

.menu-container{
    display: flex;
    gap: 30px;
}
.menu-container li{
    list-style: none;
    font-size: 18px;
}

/* Banner Style */
.banner-container{
    text-align: center;
    width: 1040px;
    height: 900px;
    margin: 0 auto;
   
}
.banner-title
{
    font-size: 54px;
    color: #000000;
}

.banner-des{
    font-size: 16px;
    color: #000000;
    margin: 20px 0px;
}

.btn-primary{
    color: white;
    border: 0px;
    padding: 20px 45px;
    background-color: #FF900E;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 0px;

}

.banner-container img{
    width: 100%;
    margin-top: 20px;
    
}

/* Feature Style */

.feature-container{
    margin: 50px 0px;
    width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.img-container{
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
.img-container img{
    width: 100%;
    
}
.feauture-info{
    padding-left: 20px;
}
.feature-title{
    font-size: 35px;
}
.title-style
{
    color: gray;
}
.title-color{
    color: #FF900E;
}
/* Responsive */

/* Small Device */
@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        
    }  
    .banner-container
    {
        width: 100%;
        
    }
    .feature-container, .img-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0 auto;
      
    }
    
   
}
/* medium Device */
@media screen and (min-width:577px) and (max-width:776px) {
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        
    }  
    .banner-container
    {
        width: 100%;
    }
    .feature-container, .img-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
   
}