/* Font Style */
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* common Style */
body {
    margin: 0 auto;

}

header {
    background-color: #f8ebde;

}

section {
    margin: 50px 0px;
}

p {
    font-size: 13px;
    color: #727272;
    ;
}

/* Header */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    font-size: 35px;

}

.menu-container {
    display: flex;
    gap: 30px;
}

.menu-container li {
    list-style: none;
    font-size: 18px;
}

/* Banner Style */
.banner-container {
    text-align: center;
    width: 1040px;
    height: 900px;
    margin: 0 auto;

}

.banner-title {
    font-size: 54px;
    color: #000000;
}

.banner-des {
    font-size: 16px;
    color: #000000;
    margin: 20px 0px;
}

.btn-primary {
    color: white;
    border: 0px;
    padding: 20px 45px;
    background-color: #FF900E;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 0px;

}

.banner-container img {
    width: 100%;
    margin-top: 20px;

}

/* Feature Style */

.feature-container {
    margin: 50px 0px;
    width: 1040px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.img-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;

}

.img-container img {
    width: 100%;

}

.feauture-info {
    padding-left: 20px;

}

.feature-title {
    font-size: 35px;
}

.title-style {
    color: gray;
}

.title-color {
    color: #FF900E;
}

/* Feature History */
.feature-history {
    margin-right: 50px;
}

.feature-experience {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    gap: 30px;
}

.feature-ex-title {
    border-left: 6px solid #FF900E;
    padding-left: 10px;
}

.ex-part-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.history-img {
    width: 1350px;
}

.history-img img {
    width: 100%;
}

.experience_year {
    background-color: #FF900E;
    color: white;
    height: 100px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}

.history-img {
    position: relative;
}

.experience_year {
    position: absolute;
    top: 688px;
    left: -70px;
}

.experience_year {
    font-size: 900;
}

.experience_year p {
    color: white;
}

/* Some Facts Style */
.some-facts-container h2, p{
    padding: 0 20px;
    
}

.some-facts {
    margin: 150px 0px;
}

.some-facts-container {
    width: 1040px;
    margin: 0 auto;
}

.facts-box {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 1px solid #FF900E;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    margin: 10px;
}
.box:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
    background-color: #f8e6d1;
  }
/* Sponsor Style */
.sponsors{
    margin: 50px 0px;
}
.sponsor-container{
    width: 1040px;
    margin: 0 auto;   
    text-align: center;
}

.sponsor-gallery{
    display: flex;
    justify-content: space-around;
    
}
.sponsor-gallery img{
    filter: grayscale(100%);
}

/* Foooter */
.footer{
    margin: 100px 0px;
    
}
.footer-container{
    background-color: #f8e6d1;
    padding: 20px;
    text-align: center;
    width: 1040px;
    margin: 0 auto;
}

/* Subcribe */
.subsribe{
    text-align: center;
}
.subscribe-container{
    width: 1040px;
    margin: 0 auto;
    
}
.subscribe-container input{
    padding: 20px 50px;
    border: 0px;
    
}




/* Responsive */

/* Small Device */
@media screen and (max-width:576px) {

    .nav-container,
    .feature-experience , .facts-box, .sponsor-gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;

    }

    .banner-container, .facts-box, .sponsor-container, .subsribe{
        width: 90%;

    }

    .feature-container,
    .img-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: 0 auto;

    }

    .sponsor-container, .some-facts-container, .subsribe, .subscribe-container{
        width: 100%;
    }
    .feature-experience{
        width:83%;
    }
    .facts-box{
        width: 82%;
    }
    .history-img {
        width: 77%;
    }

    .experience_year {
        position: absolute;
        top: 331px;
        left: -70px;
    }
    .sponsor-gallery img{
            padding: 20px;
    }
    .footer-container{
        width: 80%;
        padding: 20px;
    }

}

/* medium Device */
@media screen and (min-width:577px) and (max-width:776px) {

    .nav-container,
    .feature-experience, .facts-box, .sponsor-gallery{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;

    }

    .banner-container,
    .feature-experience,  .some-facts-container, .subsribe, .subscribe-container{
        width: 100%;
    }

    .feature-container,
    .img-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        
    }
    .facts-box{
        width: 86%;
    }
    .feature-experience,  .sponsor-gallery, .box{
        width: 100%;
    }

    .history-img, .sponsor-gallery {
        width: 100%;
    }

    .experience_year {
        position: absolute;
        top: 331px;
        left: -70px;
    }
    .footer-container{
        width: 100%;
        padding: 20px;
    }

}


.hide{
    display: none;
}